{% extends 'index/base.html' %}

{% load staticfiles %}

{% block content %}

<div class="navigation">
<ul class="nav nav-pills nav-justified">
<li class="active"><a href='/'>Моя статистика</a></li>
<li><a href="/top/day">Рейтинг</a></li>
<li><a href="/sign_up">Регистрация</a></li>
</ul>
</div>

<div class="container">
<div class="row">
<div class="col-md-8">

<div class="form">

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

<form method="post">
  {% csrf_token %}
  <!--<p>{{ form.old_password.label_tag }}</p>
  <p>{{ form.old_password }}</p>-->
  <input type="hidden" name="old_password" value="password">
  <p>{{ form.new_password1.label_tag }}</p>
  <p>{{ form.new_password1 }}</p>
  <ul><li>Ваш пароль не должен совпадать с вашим именем или другой персональной информацией или быть слишком похожим на неё.</li><li>Ваш пароль должен содержать как минимум 8 символов.</li><li>Ваш пароль не может быть одним из широко распространённых паролей.</li><li>Ваш пароль не может состоять только из цифр.</li></ul>
  <p>{{ form.new_password2.label_tag }}</p>
  <p>{{ form.new_password2 }}</p>
  <!--{{ form }}-->
  <button type="submit">Сохранить</button>
</form>

</div>

</div>
</div>
</div>

{% endblock content %}
