{% extends 'index/base.html' %}

{% load staticfiles %}

{% block content %}

<div class="navigation">
<ul class="nav nav-pills nav-justified">
<li class="active"><a href='/'>Моя статистика</a></li>
<li><a href="/top/day">Рейтинг</a></li>
<li><a href="/sign_up">Регистрация</a></li>
<li><a href="/settings">Настройки</a></li>
</ul>
</div>

<div class="container">
<div class="row">
<div class="col-md-8">

<div class="form">

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<p><a href="/login_with_github"><img src="/image/github.ico"><span style="padding-left: 5px;">Войти через Github<span></a></p>
<br>

<form method="post" action="/login/">
{% csrf_token %}
<div>
<p>{{ form.username.label_tag }}</p>
<p>{{ form.username }}</p>
</div>
<div>
<p>{{ form.password.label_tag }}</p>
<p>{{ form.password }}</p>
</div>
<br>
<input type="submit" value="Войти" />
<input type="hidden" name="next" value='/' />
</form>


</div>

</div>
</div>
</div>

{% endblock content %}
