{% extends 'index/base.html' %}

{% block content %}

<div class="navigation">
<ul class="nav nav-pills nav-justified">
<li><a href='/'>Моя статистика</a></li>
<li><a href="/top/day">Рейтинг</a></li>
<li class="active"><a href="/sign_up">Регистрация</a></li>
</ul>
</div>

<div class="container">
<div class="row">
<div class="col-md-8">

<div class="form">

{% if errors %}
      <p>{{ error }}</p>
{% endif %}

<p><a href="/login_with_github"><img src="/image/github.ico"><span style="padding-left: 5px;">Войти через Github<span></a></p>
<br>

<form method="post" action="{% url 'sign_up' %}">
{% csrf_token %}
<p>{{ form.username.label_tag }}</p>
<p>{{ form.username }}</p>
<p>{{ form.username.help_text }}</p>
<p>{{ form.password1.label_tag }}</p>
<p>{{ form.password1 }}</p>
<p>{{ form.password2.label_tag }}</p>
<p>{{ form.password2 }}</p>
<p>{{ form.password2.help_text }}</p>
<br>
<input type="submit" value="Зарегистрироваться" />
</form>

</div>

</div>
</div>
</div>

{% endblock content %}
