{% load staticfiles %}
<!DOCTYPE html>
<html>
        <head>
            <title>CodeStats</title>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link rel="stylesheet" href="{% static 'css/codestats.css' %}">
            <!--<link rel="stylesheet" href="{% static 'css/blog.css' %}">-->
        </head>
        <body>
            <div class="page-header" style="text-align: center;">
                <h1><a href="/index"><span class="glyphicon glyphicon-stats"></span> CodeStats</a></h1>
            </div>

            
                    {% block content %}
                    {% endblock %}


            <div class="footer">
                <!--2017
                <span class="label label-default">Beta</span>-->
            </div>

        </body>
    </html>
