{% extends 'index/base.html' %}

{% block content %}

<div class="navigation">
<ul class="nav nav-pills nav-justified">
<li><a href='/index'>Моя статистика</a></li>
<li><a href="/top/day">Рейтинг</a></li>
<li><a href="/sign_up">Регистрация</a></li>
</ul>
</div>

<div class="container">
<div class="row">
<div class="col-md-8">

{% if counter %}

<div class="counter">
<p class="lead"><span class="glyphicon glyphicon-flash"></span> Пользователь <a href='/index/{{ counter.user.username }}'>{{ counter.user.username }}</a>, сегодня ввел символов:</p>
<p class="count">{{ counter.counter_for_day }}</p>
<p class="lead"><span class="glyphicon glyphicon-time"></span> За все время:</p>
<p class="count">{{ counter.counter_for_all_time }}</p>
<p class="lead"><span class="glyphicon glyphicon-th-list"></span> Позиция в рейтинге за сегодня:</p>
<p class="position">{{ rating_day }}</p>
<p class="lead"><span class="glyphicon glyphicon-th-list"></span> Позиция в рейтинге за все время:</p>
<p class="position">{{ rating_alltime }}</p>
</div>
{% else %}
<p>404 - page not found.</p>
{% endif %}

</div>
</div>
</div>

{% endblock content %}
