{% extends 'index/base.html' %}

{% block content %}

<div class="navigation">
<ul class="nav nav-pills nav-justified">
<li><a href='/'>Моя статистика</a></li>
<li><a href="/top/day">Рейтинг</a></li>
<li><a href="/sign_up">Регистрация</a></li>
<li class="active"><a href="/settings">Настройки</a></li>
</ul>
</div>

<div class="container">
<div class="row">
<div class="col-md-8">

<div class="form">

{% if errors %}
      <p>{{ error }}</p>
{% endif %}

<p><span class="glyphicon glyphicon-user"></span><a style="padding-left: 5px;" href="/link_github">Привязать аккаунт GitHub</a></p>
<p><span class="glyphicon glyphicon-cog"></span><a style="padding-left: 5px;" href="/password">Сменить пароль</a></p>
<p><span class="glyphicon glyphicon-off"></span><a style="padding-left: 5px;" href="/logout">Выйти</a></p>


</div>

</div>
</div>
</div>

{% endblock content %}
