{% extends 'index/base.html' %}

{% block content %}

<div class="navigation">
<ul class="nav nav-pills nav-justified">
<li><a href='/'>Моя статистика</a></li>
<li class="active"><a href="/top/day">Рейтинг</a></li>
<li><a href="/sign_up">Регистрация</a></li>
<li><a href="/settings">Настройки</a></li>
</ul>
</div>

<div class="container">
<div class="row">
<div class="col-md-8">

{% if result %}

<div class="rating">
<p class="lead">За сегодня</p>
<table class="table table-striped">
<thead>
<tr>
<td>
<strong>№</strong>
</td>
<td>
<strong>Пользователь</strong>
</td>
<td>
<a href="/top/day"><strong>Сегодня (символов)</strong></a>
</td>
<td>
<a href="/top/all"><strong>За все время (символов)</strong></a>
</td>
</tr>
</thead>
<tbody>
{% for counter in result %}
<tr>
<td>
{{ counter.pos }}
</td>
<td>
<a href="/{{ counter.user.username }}">{{ counter.user.username }}</a>
</td>
<td>
{{ counter.counter_for_day }}
</td>
<td>
{{ counter.counter_for_all_time }}
</td>
</tr>
{% endfor %}
</tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if result.has_previous %}
            <a href="?page={{ result.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ result.number }} of {{ result.paginator.num_pages }}.
        </span>

        {% if result.has_next %}
            <a href="?page={{ result.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
</div>

{% else %}
<p>404 - page not found.</p>
{% endif %}

</div>
</div>
</div>

{% endblock content %}
